*{
  margin: 0;
}
body {
  border-radius: 8px;
}
.popupdiv{ 
  height: 450px;
  width:350px;
  background-color: #18191C;
  display: flex;
  justify-content:center;
  align-items: center;
}

.button{
  height: 40px;;
  width: 120px;
  border-radius: 4px;
  background-color: #5895F2;
  color: white;
  border: none;
  outline: none;
}

.button:hover{
  height: 45px;
  width: 125px;
  font-size: 14px;
}

.button:active{
  height: 40px;
  margin-top: 6px;
}

